@page "/{orgId}"
<h3>Please select a Location</h3>
@inject Services.Location.LocationService LocationServices
@inject NavigationManager UriHelper
<select class="form-control custom-select"  @bind="@selectedLocationId">
    @foreach (var location in Locations)
    {
        <option value="@location.Id">@location.Name</option>
    }
</select>


<button class="btn btn-primary" @onclick="Navigate">Go</button>

@code {
    [Parameter]
    public Guid? OrgId { get; set; }
    internal Guid? selectedLocationId;
    internal List<PatientTrackingBoardApp.Data.Tracking.LocationModel> Locations;

    protected override void OnInitialized()
    {

        Locations = LocationServices.GetLocations(OrgId ?? new Guid("7E217857-1CCE-4268-98A2-B30C8D478EE0"));
        selectedLocationId = Locations.FirstOrDefault()?.Id;
    }

    void Navigate()
    {
        UriHelper.NavigateTo($"/Boards/PublicVisits/{selectedLocationId}");
    }
}
