@inherits LayoutComponentBase
@inject Services.Layout.ViewOptionService ViewOption
<div class="page">
    <div class="sidebar @ViewOption.NavBarClass">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth @ViewOption.NavBarClass">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {      
        protected override async Task OnInitializedAsync()
        {
            ViewOption.OnChanged = () =>
            {
                StateHasChanged();
            };
        }
}